.vscode/
.cache/
.sessions/
.idea/
node_modules/

.gitignore
.env
.ht*

test.*
extras.*

*.log
*.ts
*.map
*.bak
*.min.js
*.min.css
*.bat
__*.*

backups/
src/
log/
SCSS/
Setup/
modules/ 
__*/

extras.md
tsconfig.json
package.json
package-lock.json
