.vscode/
.cache/
.sessions/
.idea/
node_modules/

.gitignore
.env
.ht*

test.*
extras.*

*.map
*.bak
*.min.js
*.min.css
*.bat
__*.*

backups/ 
__*/

tsconfig.json
package.json
package-lock.json
eslint.config.mjs
