/*--------------------------------------Global Variables----------------------------------------*/
/* DARK Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color: #1d1e2f; /* color of link backgrounds */
    --text-color: #cccccc; /* color of text */
    --background-color: #121212; /* color of background */
    --background-color-d: #222222; /* color of light background */
    --background-color-dd: #323232;
    --hr-color: #0077ff; /* color of dividers */
    --a-color: #0077ff; /* color of a tags */
  }
}

/* LIGHT Mode */
@media (prefers-color-scheme: light) {
  :root {
    --color: #dddddd; /* color of link backgrounds */
    --text-color: #dddeee; /* color of text */
    --background-color: #007878; /* color of background */
    --background-color-d: #005656; /* color of light background */
    --background-color-dd: #004545;
    --hr-color: #ffffff; /* color of dividers */
    --a-color: #0000ff; /* color of a tags */
  }
}

/*-----------------------------------Tag Attribute Vaiables-------------------------------------*/

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-color: var(--background-color);
}

textarea {
  border: 2px solid black;
  width: 225vh;
  height: 98vh;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

textarea:focus {
  border: 2px solid black;
  outline: none;
}

a, span {
    text-decoration: none;
    font-size: 16px;
    color: var(--a-color);
    width: fit-content;
}

h1 {
  color: var(--text-color);
  display: inline-block;
  line-height: 10px;
  cursor: default;
}

h2, h3, h4, h5, h6, text {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

nav {
  border-bottom: 2px solid var(--hr-color);
  margin-left: -8px;
  margin-right: -8px;
  text-indent: 5px;
  height: fit-content;
  padding-bottom: 10px;
}

aside {
    float: left;
    width: 50%;
    padding-left: 5px;
    text-align: left;
}

section {
    float: right;
    left: 50%;
    position: absolute;
}

input:hover {
  transform: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button, input[type="button"], input.button, select, option {
  height: 25px;
  font-size: 15px;
  border: 2px;
  border-radius: 100px;
  display: inline-block;
  transition-duration: 0.2s;
  color: var(--a-color);
  background-color: var(--color);
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
}
input.button, input[type="button"] {
  width: 2500px;
}

button:hover, input[type="button"]:hover, input.button:hover, select:hover {
box-shadow: #151515 0 0 1px;
transform: scale(1.05);
}

div {
  color: var(--text-color);
}

/*----------------------------------------User-Made variables-------------------------------------*/

.title {
  color: var(--text-color);
  display: inline-block;
  line-height: 10px;
}

.whitebg, span {
    display: block;
    height: fit-content;
    width: calc(fit-content + 50px);
    margin-top: -5px;
    border: 2px;
    text-align: center;
    border-radius: 7.5px;
    background-color: var(--color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.main {
    width: 100%;
    text-align: left;
    align-self: auto;
}

section.main {
  padding-bottom: 100px;
}

button.plus {
  height: 25px;
  width: 25px ;
  margin-top: -10px;
  text-align: center;
  border: 2px solid;
  border-radius: 7.5px;
  display: inline-block;
  transition-duration: 0.2s;
  color: var(--text-color);
  text-align: center;
  text-overflow: initial;
  background-color: rgba(255, 255, 255, 0);
  border-color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

button.plus:hover {
  box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
  transform: none;
}

.spanA {
  height: fit-content + 20px;
  margin-top: -5px;
  border: 2px;
  text-align: center;
  border-radius: 7.5px;
  background-color: var(--color);
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.hrcolor {
  border-bottom: 2px solid var(--hr-color);
  padding-bottom: 8px;
  width: 99vw;
}

/*----------------------------------------Id Variables------------------------------------------*/

footer > h6 {
  position: absolute;
  border-top: 2px solid var(--hr-color);
  left: -150px;
  bottom: -18px;
  width: 120%;
  color: var(--text-color);
  background-color: var(--background-color);
  padding-top: .5rem;
  padding-left: .5rem;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}

#tabs {
  width: fit-content;
}

#container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.popout-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  justify-content: space-around;
  margin-bottom: 30px;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.3s ease;
  transform: translateX(-28px);
}

.popout-wrapper .popout {
  display: flex;
  padding-top: 4px;
  background-color: var(--color);
  text-decoration: none;
  color: var(--a-color);
  opacity: 1;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  white-space: nowrap;
}

/* Hover state of the parent element containing h4 and buttons */
.popout-wrapper:hover {
  opacity: 1;
  transform: translateX(40px);
}

.popout-wrapper:hover .popout {
  position: static;
  opacity: 1;
  transform: translateX(40px);
}
