/* DARK Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cccccc; /* color of text */
    --background-color: #121212; /* color of background */
    --background-color-d: #222222; /* color of light background */
    --background-color-dd: #323232;
    --hr-color: #0077ff; /* color of dividers */
    --a-color: #0077ff; /* color of a tags */
  }
}
/* LIGHT Mode */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #dddeee; /* color of text */
    --background-color: #007878; /* color of background */
    --background-color-d: #005656; /* color of light background */
    --background-color-dd: #004545;
    --hr-color: #ffffff; /* color of dividers */
    --a-color: #0000ff; /* color of a tags */
  }
}
/* Static Variables */
/* Dynamic Variables (Requires use of the var() function) */
