/* DARK Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cccccc; /* color of text */
    --background-color: #121212; /* color of background */
    --background-color-d: #222222; /* color of light background */
    --background-color-dd: #323232;
    --hr-color: #0077ff; /* color of dividers */
    --a-color: #0077ff; /* color of a tags */
  }
}
/* LIGHT Mode */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #dddeee; /* color of text */
    --background-color: #007878; /* color of background */
    --background-color-d: #005656; /* color of light background */
    --background-color-dd: #004545;
    --hr-color: #ffffff; /* color of dividers */
    --a-color: #0000ff; /* color of a tags */
  }
}
button.plus, input[type=text], button.no, button:not(.no), input[type=button], select, option {
  margin: 2px;
  color: var(--a-color);
  font-size: 16px;
  padding: 3px 4px 2px 4px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #29293b;
  background-color: #1d1d2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.popout {
  position: relative;
  cursor: pointer !important;
  opacity: 0;
  left: 100%;
  margin-left: -5px;
  padding: 0 5px 1px 10px !important;
  font-size: 0.95rem;
  border-radius: 0 5px 5px 0 !important;
  z-index: 2;
  transform: translateX(-30px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.whitebg, span {
  display: block;
  height: fit-content;
  width: calc(fit-content + 50px);
  margin-top: -5px;
  border: 2px;
  text-align: center;
  border-radius: 7px;
  background-color: #1d1d2d;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}

/*-----------------------------------Tag Attribute Variables-------------------------------------*/
* {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-color: var(--background-color);
}

textarea {
  border: 1px solid black;
  width: 225vh;
  height: 98vh;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}
textarea:focus {
  border: 1px solid black;
  outline: none;
}

a, span {
  text-decoration: none;
  font-size: 16px;
  color: var(--a-color);
  width: fit-content;
}

h1 {
  color: var(--text-color);
  display: inline-block;
  line-height: 10px;
  cursor: default;
}

h2, h3, h4, h5, h6, text {
  color: var(--text-color);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

h4#todo {
  padding-top: 18px;
}

nav {
  border-bottom: 2px solid var(--hr-color);
  margin-left: -8px;
  margin-right: -8px;
  text-indent: 5px;
  height: fit-content;
  padding-bottom: 10px;
}

nav > button:nth-child(1) {
  margin-left: 10px;
}

aside {
  float: left;
  width: 50%;
  padding-left: 5px;
  text-align: left;
}

section {
  float: right;
  left: 50%;
  position: absolute;
  padding-bottom: 100px;
}

button:not(.no):hover, input[type=button]:hover, select:hover, option:hover {
  background-color: #191927;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
button:not(.no):focus, input[type=button]:focus, select:focus, option:focus {
  outline: none;
  box-shadow: 0 0 0 3px #212133;
}

button.no {
  cursor: not-allowed;
  color: red;
  transition: none;
}
button.no:hover {
  background-color: #241724;
}

input[type=text] {
  cursor: text;
  width: calc(70vw + 2px);
  padding: 6px 5px 5px 5px;
  transition: translate 0.2s ease;
}
input[type=text]:hover {
  background-color: #1d1d2d;
}

label {
  background-color: #1d1d2d;
}

div {
  color: var(--text-color);
}

/*----------------------------------------User-Made variables-------------------------------------*/
.title {
  color: var(--text-color);
  display: inline-block;
  line-height: 10px;
}

.main {
  width: 100%;
  text-align: left;
  align-self: auto;
}

button.plus {
  height: 25px;
  width: 25px;
  margin-top: -10px;
  border-radius: 7.5px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--text-color);
  box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.5) 0 17px 50px 0 rgba(0, 0, 0, 0.5);
  transform: none;
}
button.plus:hover {
  background-color: #191927;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
button.plus:focus {
  outline: none;
  box-shadow: 0 0 0 3px #212133;
}

.spanA {
  height: calc(fit-content + 20px);
  margin-top: -5px;
  border: 2px;
  text-align: center;
  border-radius: 7.5px;
  background-color: #1d1d2d;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.hrcolor {
  border-bottom: 2px solid var(--hr-color);
  padding-bottom: 8px;
  width: 99vw;
}

/*----------------------------------------Id Variables------------------------------------------*/
footer > h6 {
  position: absolute;
  border-top: 2px solid var(--hr-color);
  left: -150px;
  width: 120%;
  bottom: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
}

#title {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
  display: inline-block;
  line-height: 25px;
  width: 50%;
  cursor: default;
}

#tabs {
  width: fit-content;
}

#container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.popout-parent {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.popout-wrapper {
  position: relative;
}

.notifi > .notifi-content {
  background-color: var(--background-color-d);
  padding: 100px;
  padding: 8px 7px 7px 7px;
  border: 1px solid #888;
  width: 80%;
}
.notifi > .notifi-content > .notifi-header {
  color: var(--a-color);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.notifi > .notifi-content > .notifi-message {
  color: var(--text-color);
  padding: 0 0 5px 7px;
}
.notifi > .notifi-content > .dismis {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.4s ease;
}
.notifi > .notifi-content > .dismis:hover {
  color: #fff;
}
.notifi .notifi-buttons {
  display: flex;
  justify-content: space-between;
}
.notifi .notifi-buttons > .notifi-button {
  color: #aaa;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 6px;
  font-weight: normal;
  cursor: pointer;
  transition: color 0.4s ease;
  flex: 1;
  margin: 0 7px;
  max-height: 40px;
}
.notifi .notifi-buttons > .notifi-button:hover {
  color: #fff;
}

/*-------------------------------------Loop for Incrementing Variables--------------------------------------*/
div div.popout-wrapper:nth-child(2) > .popout {
  z-index: 3;
  background-color: #232334;
}

div div.popout-wrapper:nth-child(3) > .popout {
  z-index: 2;
  background-color: #29293b;
}

div div.popout-wrapper:nth-child(4) > .popout {
  z-index: 1;
  background-color: #2f2f42;
}

/* This will apply the hover effect to .popout and h4 siblings */
div.popout-parent h4:hover ~ .popout {
  transform: translateX(100%);
  opacity: 1;
  margin-bottom: 10px;
}
